### Kerolos George  , Id: 20200399
### Kevin marco , Id: 20200401
### Section : S1

In [54]:
# Import necessary libraries
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.datasets import fetch_openml

mnist = fetch_openml('mnist_784')

# Convert the data to a DataFrame
df = pd.DataFrame(mnist.data, columns=mnist.feature_names)

# Add the target column to the DataFrame
df['target'] = pd.Series(mnist.target)

# Subset the data to include only class 0 and class 1
df = df[df['target'].isin(['0', '1'])]

/usr/local/lib/python3.9/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [55]:
# show data
df.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,target
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

#### Shuffle

In [57]:
df = shuffle(df)
df.head(15)

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784,target
25230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
41465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
47000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
30678,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
51623,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
57378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
48350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
53667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
65614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
54764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
37816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
11846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

#### Standardize

In [58]:
def standradize(data):
  return (data - data.mean()) / data.std()

In [59]:
## Calculate accuracy
def accuracy(y, y_hat):
    true=0
    for i in range(len(y)) :
        if y[i] == y_hat[i]:
            true+=1
    return (true / len(y)) * 100

#### Implement Logistic Regression

In [60]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [61]:
def cost(y,y_hat):
    a=-y * np.log(y_hat)
    b= ((1-y) * np.log(1-y_hat))
    return np.mean(a-b)

In [62]:
def fit(X, y, eta, epochs):
  w = np.random.rand(len(X[0]))
  b = 0
  for epoch in range(epochs):
    z = np.dot(X,w)+b
    z = sigmoid(z)
    y_pred = z.copy()
    #calculate error
    error = cost(y,y_pred)
    # update weights and bias
    w = w - ((eta * np.dot((y_pred - y),X)) / len(X))
    b = b -( eta * np.mean((y_pred - y)))
    if error ==0:
      break
  return w,b

In [63]:
def unit_step(z):
        for i in range(len(z)):
            if z[i] >0.5:
                z[i] = 1
            else:
                z[i]=0
        return z

In [64]:
def predict(X,w,b):
        return unit_step((np.dot(w, X.T)) + b)

#### Divide data into training and validation set using 10-fold cross validation method

In [65]:
def kFold_cross_validation(X, y, k, eta, epochs):
  
    
  fold = len(X) //k
  accuacy=[]
  for i in range(k):
        start = i * fold
        end= (i + 1) * fold
        # validation data
        X_val, y_val = X[start:end], y[start:end]
        # train data
        X_train = np.concatenate((X[:start], X[end:]), axis=0)
        y_train = np.concatenate((y[:start], y[end:]), axis=0)
        standradize(X_train)
        # train model 
        w,b=fit(X_train, y_train, eta, epochs)
        y_hat = predict(X_val,w.T,b)
        m = len(y_hat)
        # print accuracy 
        print("Accuracy of ", i+1, "is : ", accuracy(y_val, y_hat))
        print("--------------------------------------------------------------")
        accuacy.append(accuracy(y_val, y_hat))
  avg=0     
  for i in accuacy:
    avg+=i
  print(f"the average of accuracy is : {avg/k}")

In [66]:
# split data
X = df.drop(columns = ['target'])
y = df['target']
X = X.to_numpy()
y = np.array(y).astype(int)

####Report difference accuracy for the different learning rate.

In [67]:
kFold_cross_validation(X, y, 10, 0.001, 1000)

<ipython-input-61-b94cee679d88>:3: RuntimeWarning: divide by zero encountered in log
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-61-b94cee679d88>:3: RuntimeWarning: invalid value encountered in multiply
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-60-dc64dee5606b>:2: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-z))
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: divide by zero encountered in log
  a=-y * np.log(y_hat)
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: invalid value encountered in multiply
  a=-y * np.log(y_hat)

Accuracy of  1 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  2 is :  99.6617050067659
--------------------------------------------------------------
Accuracy of  3 is :  99.52638700947226
--------------------------------------------------------------
Accuracy of  4 is :  99.52638700947226
--------------------------------------------------------------
Accuracy of  5 is :  99.86468200270636
--------------------------------------------------------------
Accuracy of  6 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  7 is :  99.6617050067659
--------------------------------------------------------------
Accuracy of  8 is :  99.86468200270636
--------------------------------------------------------------
Accuracy of  9 is :  99.52638700947226
--------------------------------------------------------------
Accuracy of  10 is :  99.6617050067659
--------------------------------------------------------------
the average of accuracy is : 99.68876860622463

In [68]:
acc =kFold_cross_validation(X, y, 10, 0.0003, 1000)

<ipython-input-61-b94cee679d88>:3: RuntimeWarning: divide by zero encountered in log
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-61-b94cee679d88>:3: RuntimeWarning: invalid value encountered in multiply
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-60-dc64dee5606b>:2: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-z))
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: divide by zero encountered in log
  a=-y * np.log(y_hat)
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: invalid value encountered in multiply
  a=-y * np.log(y_hat)

Accuracy of  1 is :  99.52638700947226
--------------------------------------------------------------
Accuracy of  2 is :  99.59404600811908
--------------------------------------------------------------
Accuracy of  3 is :  99.3234100135318
--------------------------------------------------------------
Accuracy of  4 is :  99.45872801082544
--------------------------------------------------------------
Accuracy of  5 is :  99.72936400541272
--------------------------------------------------------------
Accuracy of  6 is :  99.52638700947226
--------------------------------------------------------------
Accuracy of  7 is :  99.59404600811908
--------------------------------------------------------------
Accuracy of  8 is :  99.6617050067659
--------------------------------------------------------------
Accuracy of  9 is :  99.39106901217862
--------------------------------------------------------------
Accuracy of  10 is :  99.59404600811908
--------------------------------------------------------------
the average of accuracy is : 99.53991880920162

In [69]:
acc =kFold_cross_validation(X, y, 10, 0.01, 1000)

<ipython-input-61-b94cee679d88>:3: RuntimeWarning: divide by zero encountered in log
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-61-b94cee679d88>:3: RuntimeWarning: invalid value encountered in multiply
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-60-dc64dee5606b>:2: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-z))
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: divide by zero encountered in log
  a=-y * np.log(y_hat)
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: invalid value encountered in multiply
  a=-y * np.log(y_hat)

Accuracy of  1 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  2 is :  99.86468200270636
--------------------------------------------------------------
Accuracy of  3 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  4 is :  99.6617050067659
--------------------------------------------------------------
Accuracy of  5 is :  99.86468200270636
--------------------------------------------------------------
Accuracy of  6 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  7 is :  99.72936400541272
--------------------------------------------------------------
Accuracy of  8 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  9 is :  99.59404600811908
--------------------------------------------------------------
Accuracy of  10 is :  99.6617050067659
--------------------------------------------------------------
the average of accuracy is : 99.75642760487145

In [70]:
acc =kFold_cross_validation(X, y, 10, 0.003, 1000)

<ipython-input-61-b94cee679d88>:3: RuntimeWarning: divide by zero encountered in log
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-61-b94cee679d88>:3: RuntimeWarning: invalid value encountered in multiply
  b= ((1-y) * np.log(1-y_hat))
<ipython-input-60-dc64dee5606b>:2: RuntimeWarning: overflow encountered in exp
  return 1 / (1 + np.exp(-z))
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: divide by zero encountered in log
  a=-y * np.log(y_hat)
<ipython-input-61-b94cee679d88>:2: RuntimeWarning: invalid value encountered in multiply
  a=-y * np.log(y_hat)

Accuracy of  1 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  2 is :  99.72936400541272
--------------------------------------------------------------
Accuracy of  3 is :  99.59404600811908
--------------------------------------------------------------
Accuracy of  4 is :  99.59404600811908
--------------------------------------------------------------
Accuracy of  5 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  6 is :  99.79702300405954
--------------------------------------------------------------
Accuracy of  7 is :  99.86468200270636
--------------------------------------------------------------
Accuracy of  8 is :  99.72936400541272
--------------------------------------------------------------
Accuracy of  9 is :  99.59404600811908
--------------------------------------------------------------
Accuracy of  10 is :  99.79702300405954
--------------------------------------------------------------
the average of accuracy is : 99.72936400541273

### The best "learning rate " value from the previous ones is 0.01 with average accuracy 99.76